.carousel {
    display: flex;
    width: 100%;
    max-width: 800px;
    height: auto;
    min-height: 200px; /* Garante que o espaço exista */
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}

.image-slide img {
    width: 100%;
    height: auto;
    display: block;
}

.slide-arrow {
    width: 64px;
    cursor: pointer;
    flex-shrink: 0;
}