.navbar {
  overflow: hidden;
  background-color: #111;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-height: 128px;
  display: flex;
  /* display: inline-block; */
  align-items: center;
  justify-content: center;
}

.navbar a {
  font-size: 36px;
  /* float: left; */
  /* display: block; */
  /* display: inline-block; */
  color:lightgray;
  text-align: center;
  padding: 16px 32px;
  text-decoration: none;
  /* display: flex; */
}

/* .navbar a:hover {
  background: darkgray;
  color: black;
} */

body{
  background-color: black;
  font-family: "Lucida Console", Courier, monospace;
}

.main {
  margin-top: 60px;
  color: lightgray;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 40px;
}

#about{
  padding: 0% 16px;
  align-items: center;
  vertical-align: middle;
  text-align: center;
}

#cover-letter{
  font-size: 28px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 24px 5%;
  text-align: center;
}

.games{
  padding: 0% 32px;
  text-align: center;
}

.game{
  padding: 0% 0%;
}

.game-description{
  font-size: 28px;
  max-width: 1400px;
  text-align: center;
  margin: 24px auto;
}

.duties-list{
  display: inline-block;
  text-align: left;
  list-style-position: inside;
}

li{
  padding-right: 24px;
  font-size: 24px;
}

#experience{
  margin: 0 auto;
  padding: 0 10%;
  text-align: center;
}

#contact{
  margin: 0 auto;
  padding: 0 10%;
  text-align: center;
}

#platforms{
  display: flex;
  align-items: center;
  justify-content: center;
}

.platform{
  padding: 12px 24px;
}

.platform img{
  height: auto;
}

.platform a{
  font-size: 30px;
  /* float: left; */
  /* display: block; */
  display: inline-block;
  color:lightgray;
  text-align: center;
  padding: 16px 32px;
  text-decoration: none;
}

.line-divisor{
  width: 100%;
  padding-top: 64px;
}

.line-divisor img{
  width: 100%;
  height: auto;
}

.thin-line-divisor{
  width: 100%;
  height: auto;
  padding: 32px 0px;
}

#end-scroll{
  padding-bottom: 12px;
}

.email-section{
  font-size: 28px;
}

.email-section a{
  color: lightgray; 
  text-decoration:none; 
  cursor:pointer;  
}

.email-section img{
  height: auto;
}

.play-link{
  font-size: 28px;
  padding: 24px;
}

.play-link a{
  color: lightgray; 
  text-decoration:none; 
  cursor:pointer; 
}

.player-wrapper {
  position: relative;
  /* padding-top: 56.25%; Player ratio: 100 / (1280 / 720) */
  align-items: center;
  width: 1280;
  height: 720;
  padding: 32;
}
 
.react-player {
  position: relative;
  margin: auto;
}